<div _ngcontent-qny-c5="" class="col-md-6 offset-md-3 mt-5">
    <h5 _ngcontent-qny-c5="" class="mb-3 border-bottom">Please Login!!!</h5>
    <form _ngcontent-qny-c5="">
        <div _ngcontent-qny-c5="" class="form-group"><label _ngcontent-qny-c5="" for="exampleInputEmail1">Email
                address</label><input _ngcontent-qny-c5="" aria-describedby="emailHelp" class="form-control"
                id="exampleInputEmail1" placeholder="Enter email" type="email"><small _ngcontent-qny-c5=""
                class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small></div>
        <div _ngcontent-qny-c5="" class="form-group"><label _ngcontent-qny-c5=""
                for="exampleInputPassword1">Password</label><input _ngcontent-qny-c5="" class="form-control"
                id="exampleInputPassword1" placeholder="Password" type="password"></div>
        <div _ngcontent-qny-c5="" class="form-group form-check"><input _ngcontent-qny-c5="" class="form-check-input"
                id="exampleCheck1" type="checkbox"><label _ngcontent-qny-c5="" class="form-check-label"
                for="exampleCheck1">Check me out</label></div><button _ngcontent-qny-c5="" class="btn btn-primary"
            type="submit">Submit</button>
    </form>
</div>