


nav{
    font-size: larger;
    background:rgb(69, 121, 189);
    position: sticky;
    height: 40px;
    color: whitesmoke;
    margin: 0%;
    padding: 0%;
    position: sticky;
    top: 0;
}


 a {
    /* float: left; */
    margin-top: 50%;
    color: whitesmoke;
    font-style: inherit;
    text-decoration: none;
    padding: 1%;
    list-style: none;
    display: inline;
    
}

nav li a {
    text-decoration: none;
    padding: 10px;

}

