<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div> 
<div class="card">
    <div class="card-body">
            <div class="col-md-4 offset-md-4 mt-4">
                    <h3>Search Product</h3>
                    <form #SearchedProducts='ngForm' (ngSubmit)='searchProducts(SearchedProducts)'>
                            <div class="form-group">
                                    <label for="productId">Product Id</label>
                                    <input type="text" name="productId" id="productId" value="productId"
                                            #productId='ngModel' ngModel class="form-control" required
                                            placeholder="Enter Product Id To Search">
                            </div>


                            <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg float-right ">
                                            Search
                                    </button>
                            </div>
                    </form>
            </div>
    </div>
</div>