<app-admin-nav></app-admin-nav>
<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
<div class="col-md-4 offset-md-4 mt-4">
<div class="card">
        <div class="card-header font-weight-bold  text-light" style="background: rgb(0, 143, 143);" >
              <h3>Update Products</h3>
        </div>
        <div class="card-body">
              <form #UpdatedProducts='ngForm' (ngSubmit)='updateProduct(UpdatedProducts)'>
                <div class="form-group">
                    <!-- <label for="productId">Product Id</label> -->
                    <input type="hidden" name="productId" id="productId"  
                    #productId='ngModel' [(ngModel)]='productId1' class="form-control" required placeholder="Enter Product Id">
                </div>

                <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" name="productName" id="productName"  
                        #productName='ngModel' [(ngModel)]='productName1' class="form-control" required placeholder="Enter Product Name">
                </div>

                <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" name="quantity" id="quantity" 
                        #quantity='ngModel' [(ngModel)]='quantity1' class="form-control" required placeholder="Enter Quantity">
                </div>

               <button type="sumbit" class="btn btn-outline-info" [disabled]='UpdatedProducts.form.invalid' >Update Product</button>

                <button type="reset" class="btn btn-outline-dark btn-md">Reset</button>
                        
               </form>
        </div>
        </div>
      </div>