div.card {  
  box-shadow: 0 4px 8px 0 rgba(65, 64, 64, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

input.ng-touched.ng-invalid {
  border: 1px solid crimson;
}

input.ng-touched.ng-valid {
  border: 0.8px solid green;
}

div.card {  
  box-shadow: 0 4px 8px 0 rgba(65, 64, 64, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}