<div class="alert alert-succes" *ngIf='message' (click)='deleteMessage()'>{{message}}</div>

<div class="col-md-4 offset-4 mt-3 mb-3">
<input type="search" name="search" class="form-control" [(ngModel)]='search'>
</div>
<div class="col-md-3 float-left mt-3" *ngFor='let product of products'>
    <div class="card">
        <div class="card-header">
            {{product.name | titlecase}}
        </div>
        <div class="card-body">
            <img [src]="product.url" alt=" product image" height="200px" width="100%">
            <p>
                Rs: {{product.cost}}.00
            </p>
        </div>
        <div class="card-footer">
            <div class="btn-group col-md-12">
                <button class="btn btn-outline-success" (click)='selectProduct(product)'>
                    updates
                </button>
                <button class="btn btn-outline-dark" (click)='deleteProduct(product)'>
                    delete
                </button>
            </div>
        </div>

    </div>
</div>