<div _ngcontent-qny-c6="" class="col-md-4 offset-md-4 card card-body mt-5">
    <h4 _ngcontent-qny-c6="" class="text-center text-primary mb-3"> Feel Free to Contact us </h4>
    <h6 _ngcontent-qny-c6="">Email ID:</h6>
    <div _ngcontent-qny-c6="" class="offset-md-2">
        <p _ngcontent-qny-c6="" class="text-muted">surajkhan@gmail.com</p>
        
    </div>
    <h6 _ngcontent-qny-c6="">Phone Numbers:</h6>
    <div _ngcontent-qny-c6="" class="offset-md-2">
        <p _ngcontent-qny-c6="" class="text-muted">7353181715</p>
        
    </div>
</div>