<!-- <br><br>
<img [src]="imgUrl" alt=""><br><br>
<p [style.background]='flag? "green" : "red"' [style.color]='flag? "red" : "green"'
    [style.fontsize]='flag ? "20px" : "40px"' style="height: 40px;">
    Aaaagayaaaaaaa OOOOOOOOOOO</p>

<p [class.blind]="flag" [class.not-blind]='!flag'>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae veritatis saepe provident sapiente quis temporibus
    deserunt corrupti iste. Dolorum quam eveniet, ipsam perferendis voluptatem illum accusantium fugiat magni ipsum
    quae?
</p>


<!-- Templet Reference Variable -->
<!-- <input type="text" name="" id="" #myInput> -->
<!-- <button (click) = 'clickMe(myInput)' class="btn btn-outline-primary">click me</button> -->
<!-- 
<input type="text" name="twoWayData" [(ngModel)]='twoWayData'>
{{twoWayData}}

<button (click) = 'printData()' class="btn btn-outline-primary">Click Me</button>  -->